
body {
    overflow: hidden;
    margin: 0;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
.background {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-attachment: fixed;
    display: flex;

}

.headerBlock {
    width: 600px;
    z-index: 10;
    height: 400px;
    background: rgba(19, 19, 19, 0.18);
    border-radius: 16px;
    flex-wrap: wrap;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    position: relative;
    flex-direction: column;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(50px);
    border: 1.5px solid rgba(255, 255, 255, 0.69);
}
@media screen and (max-width: 600px) {
    .headerBlock {
        width: 90%;
        right: 10px;
    }
}

.pfpAtts {
    border-radius: 1000px;
    position: relative;
    bottom: -10px;
    height: 118px;
    width: 118px;
    border: 1.5px solid rgba(255, 255, 255, 0.69);
    margin-bottom: 15px;
}

.textStyle {
    color: azure;
    position: relative;
    bottom: 20px;
    font-size: 40px;
    font-family: "Satoshi", sans-serif !important;
    font-weight: 600;
}

.glow-text {
    text-shadow: 0px 0px 16.5px #FFFFFF;
  }

.subAtts {
    color: azure;
    position: relative;
    bottom: 50px;
    padding: 30px;
    font-size: 20px;
    font-family: "Kedebideri", sans-serif;
}

.sparkleEffect {
    background-image: url(https://assets.guns.lol/sparkle_white.gif);
}

.iconAttributes {
    fill: white;
    display: inline-flexbox;
    height: 35px;
    width: 35px;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    bottom: 35px;
    transition: transform 0.3s ease;
}
.iconAttribut   es:hover {
    transform: scale(1.2) rotate(10deg);
}

.glow-effect {
    filter: drop-shadow(0px 0px 5.5px #d3d2d2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
